<%- include('../includes/head') %>

<!-- lists chooses -->
<article id="smart__zonestoetsen">
   <select name="format" class="choos__samrtzone choos__smartzone---naam" onchange = "getNm(this.value)">
            <option selected disabled >naam</option>
                 <% smartzones.forEach((smartzone) => {%>
            <option><%- smartzone.name%></option>

      <%})%>

   </select>

   <select name="format" class="choos__samrtzone choos__smartzone---town" onchange = "getNm(this.value)">
    <option selected disabled >city</option>

         <% smartzones.forEach((smartzone) => {%>

        <option><%- smartzone.town %></option><%})%>

    </select>

    <select name="format" class="choos__samrtzone choos__smartzone---id" onchange = "getNm(this.value)">
        <option selected disabled >smartzoneId</option>
    
             <% smartzones.forEach((smartzone) => {%>
    
            <option><%- smartzone.smartzoneId%></option><%})%>
    
        </select>

        <p class="choos__samrtzone choos__smartzone---link">
            <a  href="/home">formulier Bewerken</a>

        </p>

        <!-- <select name="format" class="choos__samrtzone choos__smartzone---function" onchange = "getNm(this.value)">
            <option selected disabled >function</option>
        
                 <% smartzones.forEach((smartzone) => {%>
        
                <option><%- smartzone.function%></option><%})%>
        
            </select> -->
</article>

<!-- content -->
<section id="filter">

    <% 
     smartzones.filter(smartzone =>{
           return smartzone.name === 'Wafa' 
      })
     .map(smartzone =>{%> 

 

         <article id="smartzone__content">

           <section class=".inhoude__content">
               <h3>smartzoneid</h3>
               <p><%- smartzone.smartzoneId %></p>
            </section>

           <section class=".inhoude__content">
                <h3>Naam</h3>
                <p><%- smartzone.name %></p>
           </section>

            <section class=".inhoude__content">
                <h3>Stad</h3>
             <p><%- smartzone.town %></p>
            </section>

            <section class=".inhoude__content">
                <h3>functie</h3>
                <p><%- smartzone.function %></p>
            </section>
    
        </article>

         <article id="samrtzone___img">
                <img src="<%- smartzone.image %>" alt="" class="samrt__img">
         </article>

    <%})%>

</section>



<%- include('../includes/footer') %>